{% extends 'base.html' %} {% block header %}{% endblock %} {% block content %}

<div class="contentresource">
  <div class="text">
    <h1>Discover the Best Diets</h1>
    <p>
      Keep up your good health with the insightful articles on blog. and youtube
      videos
    </p>
  </div>
  <div class="diets">
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/result.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">Top 10 Muscle-Building Exercises For Beginners</p>
        <a target="_blank"
          href="https://medium.com/@copy.kolary/the-top-10-muscle-strengthening-exercises-for-every-major-muscle-group-7c96c5f29b6e"
          >Read More >
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/result1.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">Fitness or Diet Plan Didn’t Work? Don’t Quit — Here’s Why!</p>
        <a target="_blank"
          href="https://medium.com/illumination/fitness-or-diet-plan-didnt-work-don-t-quit-here-s-why-660bb956088e"
          >Read More >
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/result2.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">Nightmare Protocol: How I Achieved Peak Mental and Physical Fitness in 4 Weeks</p>
        <a target="_blank"
          href="https://medium.com/bouncin-and-behavin-blogs/nightmare-protocol-how-i-achieved-peak-mental-and-physical-fitness-in-4-weeks-efda5b41b779"
          >Read More >
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/result3.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">Listening to Fitness Gurus is Making You Fat</p>
        <a target="_blank"
          href="https://medium.com/behavior-design/listening-to-fitness-gurus-is-making-you-fat-6a3ea842f16f"
          >Read More >
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/result4.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">I Swapped 20 Pounds Of Fat For 20 Pounds Of Muscle — Here’s How.</p>
        <a target="_blank"
          href="https://medium.com/illumination/i-swapped-20-pounds-of-fat-for-20-pounds-of-muscle-heres-how-ca7c9897f6cd"
          >Read More >
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/result5.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">Weight Loss — The problem is the Hunger, not the Calories.</p>
        <a target="_blank"
          href="https://medium.com/@drjasonfung/weight-loss-the-problem-is-the-hunger-not-the-calories-a22b5fc8a4ec"
          >Read More >
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/result6.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">Power Couple Loses 40 Pounds in Two Months: “I Lost The Passion for The Things I Used to Love to Do”</p>
        <a target="_blank"
          href="https://medium.com/@kelancoaching/power-couple-loses-40-pounds-in-two-months-i-lost-the-passion-for-the-things-i-used-to-love-to-9850c7ed99b9"
          >Read More >
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/video.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">Beginner's Guide to the Gym | DO's and DON'Ts</p>
        <a target="_blank"
          href="https://youtu.be/EKUNGQ4LmH8?si=BgQlLsIUEF0muwg4"
          > Watch Video >
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/video1.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">8 Best Tips To Lose Belly Fat | पेट की चर्बी कम करने के 8 उपाय | Yatinder Singh</p>
        <a target="_blank"
          href="https://youtu.be/D4gX1iZbDYg?si=3jk7DUZn3-0RmTgq"
          > Watch Video >
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/video2.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">5 MISTAKES You Do To REMOVE LOVE HANDLES</p>
        <a target="_blank"
          href="https://youtu.be/jToGWyH_v0M?si=dkmZ55_1HatCh5NM"
          > Watch Video >
        </a>
      </div>
    </div>
    <div class="card">
      <img
        src="{{ url_for('static', filename='/images/video3.jpg') }}"
        alt=""
      />
      <div style="width: 70%">
        <p class="resultline">10 Home Workouts to Get Rid of Belly Fat in 3 weeks | Yatinder Singh</p>
        <a target="_blank"
          href="https://youtu.be/qQ1X461yZCA?si=PJRRrLv-yynagsGv"
          > Watch Video >
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
